#root {
  /* max-width: 1280px; */
  margin: 0 auto;
}
/* body {
  background-color: #1e5799;

  background: -webkit-linear-gradient(
    top left,
    #00aaff,
    #00aaff9c,
    #975d62c7,
    #d92332a0,
    #e41224cc,
    rgba(255, 208, 0, 0.607),
    #5e8000,
    #4f8000
  );

  background: linear-gradient(
    to bottom right,
    #00aaff,
    #00aaff9c,
    #975d62c7,
    #d92332a0,
    #e41224cc,
    rgba(255, 208, 0, 0.607),
    #5e8000,
    #4f8000
  );

  height: 100vh;
  margin: 0;
} */
